
html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
  }

.headerbox{
    background-color: rgba(41, 100, 76, 0.658)
}
.text{
    font-family: 'Raleway', sans-serif;
}


button{
    border: none;
}
.startlocation{
    font-size: 20px;
    font-weight: 500;
    }
.endlocation{
    font-size: 20px
}
.startcard{
    font-size: 16px
    font-weight: 250;
}
.endcard{
    font-size: 16px
}
.weathercard{
    font-size: 16px
}
nav {
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
}
input {
    float: none;
    display: block;
    text-align: left;
    width: 250px;;
    margin: 0;
    padding: 15px;
}
.button {
    width: 250px;
    background: #00ba9b;
    padding: 15px;
    color: #ffffff;
    text-align: center;
}
.button:hover {
    background: #006e5b !important;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }
img {
    width: 100%;
    max-width: 100px;
}